{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="login">
    <meta name="author" content="{{author}}">
    
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
          background-color: #78C0F2;
        }
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
        #boxed {
          border: 1px solid blue;
          border-radius: 3%;
          padding: 10px;
          box-shadow: 5px 10px 8px #1068A5;
          min-height: 100%;
          min-width: 90%;
          background-color: #6EBAEF;
          text-align: center;
        }
    </style>
    <title>
        {% block title %} PrettyPrettyWebsite2 {% endblock %}
    </title>
</head>
<body>
<header>
    <!-- <h1 style="text-align:center">
        <small><em> Change This With Your Custom Header </em></small>
    </h1> -->
    {% include "pretty_auth/partials/header.html" %}
    <!-- Your Header Here -->
</header>
<content>
    <div class="container" id="boxed">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}
    {% include "pretty_auth/partials/footer.html" %}
    <!-- <h1 style="text-align:center">
        <small><em> Change This With Your Custom Footer </em></small>
    </h1> -->
    <!-- Your Footer Here -->
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
