{% extends "pretty_search/layout/base.html" %}
{% block content %}

<style>
#legend{
  color: red;
}
#expert{
  color: orange;
}
#advanced{
  color: yellow;
}
#intermediate{
  color:green;
}
#beginner{
  color: magenta;
}
</style>

<section>

  <strong><i>Choose filter first then type</i></strong>

  <div>
    <li> Filters: (defaults to by name if none chosen) </li>
    <span id="tab1">
      <label id = filter> NPM</label>
      <input type="checkBox" id="myCheck0"  onclick="myFunction0()">
    </span>

    <span id="tab2">
      <label id = filter> Name </label>
      <input type="checkBox" id="myCheck1"  onclick="myFunction1()">
    </span>


    <span id="tab2">
      <label id = filter> Year </label>
      <input type="checkBox" id="myCheck2"  onclick="myFunction2()">
    </span>

    <span id="tab2">
      <label id = filter> Expertise </label>
      <input type="checkBox" id="myCheck3"  onclick="myFunction3()">
    </span>

    <span id="tab2">
      <label id = filter> Level </label>
      <input type="checkBox" id="myCheck4"  onclick="myFunction4()">
    </span>
  </div>

  <!--
  NPM <input class="container" type="checkBox" id="myCheck0"  onclick="myFunction0()">
  Name <input class="container" type="checkBox" id="myCheck1"  onclick="myFunction1()">
  Year <input class="container" type="checkBox" id="myCheck2"  onclick="myFunction2()">
  Specialty <input class="container" type="checkBox" id="myCheck3"  onclick="myFunction3()">
  Level <input class="container" type="checkBox" id="myCheck4"  onclick="myFunction4()">
-->



<h2>Friends</h2>

<input type="text" id="myInput" onkeyup="myFunction00()" placeholder="Search for names.." title="Type in a name">

<div style="overflow-y:auto;">

<div class="scroll">

<table id="myTable">
  <tr class="header">
    <th style="width:40%;" onclick="sortTableNum(0)"> NPM <i class="fa fa-fw fa-sort"></i></button> </th>
    <th style="width:20%;" onclick="sortTable(1)">Name <i class="fa fa-fw fa-sort"></i></th>
    <th style="width:20%;" onclick="sortTableNum(2)">Year <i class="fa fa-fw fa-sort"></i></th>
    <th style="width:20%;" onclick="sortTable(3)">Expertise <i class="fa fa-fw fa-sort"></i></th>
    <th style="width:0%;" onclick="sortTable(4)" hidden>Level <i class="fa fa-fw fa-sort"></i></th>
  </tr>
  <!-- <tr>
    <td>92501</td>
    <td>3rd Reich</td>
    <td>1945</td>
    <td>War</td>
    <td hidden>Beginner</td>
  </tr>
  <tr>
    <td>20421</td>
    <td>Sweden</td>
    <td>1443</td>
    <td>Skiing</td>
    <td hidden>Advanced</td>
  </tr>
  <tr>
    <td>77890</td>
    <td>UK</td>
    <td>2017</td>
    <td>Brexit</td>
    <td hidden>Noob</td>
  </tr>
  <tr>
    <td>50622</td>
    <td>Germany</td>
    <td>900</td>
    <td>Beer</td>
    <td hidden>Master</td>
  </tr>
  <tr>
    <td>33155</td>
    <td>Canada</td>
    <td>1883</td>
    <td>Friendliness</td>
    <td hidden>Advanced</td>
  </tr>
  <tr>
    <td>00521</td>
    <td>Italy</td>
    <td>1243</td>
    <td>Pizza</td>
    <td hidden>Legendary</td>
  </tr>
  <tr>
    <td>95391</td>
    <td>UK</td>
    <td>1560</td>
    <td>Nothing</td>
    <td hidden>Professional</td>
  </tr>
  <tr>
    <td>94827</td>
    <td>France</td>
    <td>1800</td>
    <td>Surrender</td>
    <td hidden>Master</td>
  </tr> -->
  {% for friend in friend_list %}
    <tr>
      <td> {{ friend.npm }} </td>
      <td> {{ friend.name }} </td>
      <td> {{ friend.year }} </td>

      <td>
        {% for expertise in friend.expertise.all %}
          <div id="{{ expertise.level }}">
            {{ expertise.expertise }}
          </div>
        {% endfor %}
      </td>

      <td hidden>
        {% for expertise in friend.expertise.all %}
          <div>
            {{ expertise.level }}
          </div>
        {% endfor %}
      </td>

    </tr>
  {% endfor %}

</table>
</div>

</table>
</div>
</div>
<script>

function myFunction0() {
  var checkBox = document.getElementById("myCheck0");
  var other1 = document.getElementById("myCheck1");
  var other2 = document.getElementById("myCheck2");
  var other3 = document.getElementById("myCheck3");
  var other4 = document.getElementById('myCheck4');
  //var text = document.getElementById("text");
  if (checkBox.checked == true){
    //text.style.display = "block";
    other1.checked = false;
    other2.checked = false;
    other3.checked = false;
    other4.checked = false;
    myFunctionX(0);
  }
  if (checkBox.checked == false){
    //text.style.display = "block";
    myFunctionX(0);
  }
}
function myFunction1() {
  var checkBox = document.getElementById("myCheck1");
  var other1 = document.getElementById("myCheck0");
  var other2 = document.getElementById("myCheck2");
  var other3 = document.getElementById("myCheck3");
  var other4 = document.getElementById('myCheck4');
  //var text = document.getElementById("text");
  if (checkBox.checked == true){
    //text.style.display = "block";
    other1.checked = false;
    other2.checked = false;
    other3.checked = false;
    other4.checked = false;
    myFunctionX(1);
  }
  if (checkBox.checked == false){
    //text.style.display = "block";
    myFunctionX(0);
  }
}
function myFunction2() {
  var checkBox = document.getElementById("myCheck2");
  var other1 = document.getElementById("myCheck1");
  var other2 = document.getElementById("myCheck0");
  var other3 = document.getElementById("myCheck3");
  var other4 = document.getElementById('myCheck4');
  //var text = document.getElementById("text");
  if (checkBox.checked == true){
    //text.style.display = "block";
    other1.checked = false;
    other2.checked = false;
    other3.checked = false;
    other4.checked = false;
    myFunctionX(2);
  }
  if (checkBox.checked == false){
    //text.style.display = "block";
    myFunctionX(0);
  }
}
function myFunction3() {
  var checkBox = document.getElementById("myCheck3");
  var other1 = document.getElementById("myCheck1");
  var other2 = document.getElementById("myCheck2");
  var other3 = document.getElementById("myCheck0");
  var other4 = document.getElementById('myCheck4');
  //var text = document.getElementById("text");
  if (checkBox.checked == true){
    //text.style.display = "block";
    other1.checked = false;
    other2.checked = false;
    other3.checked = false;
    other4.checked = false;
    myFunctionX(3);
  }
  if (checkBox.checked == false){
    //text.style.display = "block";
    myFunctionX(0);
  }
}
function myFunction4() {
  var checkBox = document.getElementById("myCheck4");
  var other1 = document.getElementById("myCheck1");
  var other2 = document.getElementById("myCheck2");
  var other3 = document.getElementById("myCheck3");
  var other4 = document.getElementById('myCheck0');
  //var text = document.getElementById("text");
  if (checkBox.checked == true){
    //text.style.display = "block";
    other1.checked = false;
    other2.checked = false;
    other3.checked = false;
    other4.checked = false;
    myFunctionX(4);
  }
  if (checkBox.checked == false){
    //text.style.display = "block";
    myFunctionX(0);
  }
}

/*=============================================================================*/
function myFunction00() {
  var input, filter, table, tr, td, i, x;
  if (document.getElementById('myCheck0').checked == true){
    x = 0;
  }
  else if (document.getElementById('myCheck1').checked == true){
    x = 1;
  }
  else if (document.getElementById('myCheck2').checked == true){
    x = 2;
  }
  else if (document.getElementById('myCheck3').checked == true){
    x = 3;
  }
  else if (document.getElementById('myCheck4').checked == true){
    x = 4;
  }
  else {
    x = 1;
  }
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[x];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
/*===================================================================================*/


function myFunctionX(x) {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[x];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

/*========================================================
sorting */
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("tr");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function sortTableNum(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("tr");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (Number(x.innerHTML.toLowerCase()) > Number(y.innerHTML.toLowerCase())) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (Number(x.innerHTML.toLowerCase()) < Number(y.innerHTML.toLowerCase())) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}


</script>

</section>

{% endblock %}
