* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  border: 1px solid black;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  border: 1px solid black;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
  border: 1px solid black;
}
