
<section name="input-list" id="input-list" style="min-height: 200px; width: 90%">
  <div class="container">
    <h2 style="color:Black">Update Status</h2>
    <form id="status_form" method="POST" action='/pretty_update_status/add_status'>
      {% csrf_token %}
      <font size = "3">
	  {{ status_form }}
	  </font>
      <br/>
      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
      <br/>
      <br/>
      <br/>
    </form>
  </div>
</section>
<section name="status_table" id="status_table" style="min-height: 200px; width: 90%">
  <div class="container">
    <div class="flex">
      {% if status %}
      {% for data in status reversed %}
      <div class="flex-item">
        <div class="status">
          <strong>
            <img src="../static/images/giphy.gif" class="circle-image" style="height:100px; width:100px"/>
            {{userName}}
          </strong>
          <div class="status-message">
            {{data.message|linebreaks}}
          </div>
          <div class="status-date-added">
            {{data.created_date}}
          </div>
          <hr/>
          <br/>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-danger text-center">
        <strong>Oops!</strong> You haven't post anything.
      </div>
    {% endif %}
    </div>
  </div>
</section>
