<!-- templates/lab_9/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->

<style>

.centered{
  text-align: center;
}

</style>

<p class="centered">© Made with Love by {{author}}</p>
