<!-- templates/lab_9/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top" style="background-color:#10293A">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color: blue">PrettyPrettyWebsite2</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/pretty_profile" style="color: blue">{{userName}}</a></li>

          {% if is_login %}
            <li><a href="{% url 'pretty-auth:auth_logout' %}" class="pull-right" onclick="return confirm('Logging out?')" style="color:blue">
              Logout </a></li>
          {% else %}
            <li><a href="{% url 'pretty-auth:login' %}" class="pull-right" style="color:blue">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
