{% extends "pretty_auth/layout/base.html" %}
{% block content %}
<center class="container" style="background-color:#4E9FD8">
  <h1> Welcome to PrettyPrettyWebsite </h1>
  <h2> Please enjoy our website </h2>
  <h2> Always be pretty and feel pretty! </h2>
  <h1 style="text-align:center">
      <a href="{% url 'pretty-auth:login' %}" class="btn btn-info" style="color:blue; border:1px solid">Student Login</a>
  </h1>
</center>

{% endblock %}
