{% extends "pretty_auth/layout/base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<style>
.circle-image {
  border: 2px solid #ccc;
  border-radius:  50%;
  height:200px;
  width:200px;
}
</style>

<div style="overflow: hidden">
  <form action="{% url 'pretty-profile:edit-profile-local' %}" method="POST">
    <div class="profile" style="float:center">
      <img src="/static/images/giphy.gif" class="circle-image" />
      <br>
      <br>
      <strong> NPM: {{user.npm}} </strong>
      <br>
      <br>
    </div>
    <div style="float:center; position:pull-right">
      <input type="submit" class="editProfileButton btn btn-info" style="border:1px solid blue">
      <a onclick="logOutFromLinkedin();" class="editProfileButton btn btn-info" style="border:1px solid blue">Logout</a>
      <br>
      <br>
    </div>

    <div>
      {% csrf_token %}
      <p><b>Show Score: </b>
        Yes <input type="radio" name="show_score" value="True" {% if user.show_score == True %} checked{% endif %}>
        No <input type="radio" name="show_score" value="False" {% if user.show_score == False %} checked{% endif %}>
      </p>
    </div>
    <br>

    <div>
      {% if connected %}
      <div class="loginWithLinkedIn" style="background-color:#87C8F5; border:white" id="boxed">
      </div>
      {% else %}
      <script type="in/Login"></script>
      {% endif %}
      <br>
      <br>
    </div>
    <div class="appendSkill">
      {% if skill %}
      {% for s in skill %}
      <div class="skillChooserContainer">
        <div style="float:left; padding-left:470px">
          <h2>Expertise</h2>
          <select name="skill">
            <option value="java" {% if s.expertise == 'java' %} selected{% endif %}>Java</option>
            <option value="python" {% if s.expertise == 'python' %} selected{% endif %}>Python</option>
            <option value="c" {% if s.expertise == 'c' %} selected{% endif %}>C#</option>
            <option value="ppw" {% if s.expertise == 'ppw' %} selected{% endif %}>PPW</option>
          </select>
        </div>
        <div style="float:right; padding-right:470px">
          <h2>Level</h2>
          <select name="level">
            <option value="beginner" {% if s.level == 'beginner' %} selected{% endif %}>Beginner</option>
            <option value="intermediate" {% if s.level == 'intermediate' %} selected{% endif %}>Intermediate</option>
            <option value="expert" {% if s.level == 'expert' %} selected{% endif %}>Expert</option>
            <option value="legend" {% if s.level == 'legend' %} selected{% endif %}>Legend</option>
          </select>
        </div>

        <div style="text-align:center">
          <a href="{% url 'pretty-profile:delete-skill' s.expertise %}"><div style="font-family: 'Open Sans';color:red;border: 1px solid white;">Delete</div></a>
        </div>

      </div>
      {% endfor %}
      {% endif %}
      <div>
        <br>
        <button class="btn btn-info" onclick="addSkill()" style="border:2px solid blue">Add Skill</button>
        <button class="btn btn-info" onclick="cancel()" style="border:2px solid blue">Cancel</button>
      </div>
    </div>

  </form>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
  api_key: 81uy3ffey1q8uk
  onLoad: onLinkedInLoad
  authorize: true
  lang:
</script>

<script type="text/javascript">
  // Setup an event listener to make an API call once auth is complete
  function onLinkedInLoad() {
    IN.Event.on(IN, "auth", getProfileData);
  }

  // Handle the successful return from the API call
  function onSuccess(data) {
    console.log(data);
    const fullName = data.firstName+" "+data.lastName;
    const profileUrl = data.publicProfileUrl;
    html = "<i><strong style='font-size:18px; color:blue'> LinkedIn Profile </strong></i>" +
           "<strong style='font-size:16px'> <center> " +
           "Name: " + data.firstName+" "+data.lastName + "<br>" +
           "Email: " + data.emailAddress + "<br>" +
           "Location: " + data.location.name + "<br>" +
           "Headline: " + data.headline + "<br>" +
           "LinkedIn: <a href='" + data.publicProfileUrl + "'>" + data.publicProfileUrl + "</a><br>" +
           "</center> </strong>";

    $('.loginWithLinkedIn').append(html)
    updateProfile(data);
  }

  function updateProfile(data) {
<<<<<<< HEAD
    var show_score = document.getElementById
=======
<<<<<<< HEAD
=======
    var show_score = document.getElementById
>>>>>>> bbeb0c05632a44e12a2c7508b84478fad6837a5c
>>>>>>> search
    $.ajax({
      method : 'POST',
      url : "{% url 'pretty-profile:update-profile' %}",
      data : {
        'full_name' : data.firstName+" "+data.lastName,
        'url_linkedin': data.publicProfileUrl,
        'picture_url': data.pictureUrl,
        'email': data.emailAddress,
        'headline': data.headline,
      },
      dataType : 'json',
      success : function(response) {
        window.location = '/pretty-profile';
      },
      error : function(error) {
        console.log(error);
      }
    });
  }

  // Handle an error response from the API call
  function onError(error) {
    console.log(error);
  }

  // Use the API call wrapper to request the member's basic profile data
  function getProfileData() {
    IN.API.Raw("/people/~:(first-name,last-name,headline,email-address,picture-url,public-profile-url,location)").result(onSuccess).error(onError);
  }

  function logOutFromLinkedin() {
    IN.User.logout(logOut);
    $.ajax({
      method : 'POST',
      url : "{% url 'pretty-profile:update-profile' %}",
      data : {
        'full_name' : "None",
        'url_linkedin': "None",
        'picture_url': "/static/images/giphy.gif",
        'email': "None",
        'headline': "None",
      },
      dataType : 'json',
      success : function(response) {
        window.location = '/pretty-profile';
        window.location.reload();
      },
      error : function(error) {
        console.log(error);
      }
    });
    $('.loginWithLinkedIn').empty();
    return true;
  }

  function logOut() {
    $.ajax({
      method : 'POST',
      url : "{% url 'pretty-auth:auth_logout' %}",
      success : function(response) {
        window.location.reload();
      },
      error : function(error) {
        console.log(error);
      }
    });
  }

  function addSkill() {
    html = '<div class="skillChooserContainerPick"><div style="float:left; padding-left:470px"><h3>Expertise</h3><select name="skill"><option value="java">Java</option><option value="python">Python</option><option value="c">C#</option><option value="ppw">PPW</option></select></div><div style="float:right; padding-right:470px"><h3>Level</h3><select name="level"><option value="beginner">Beginner</option><option value="intermediate">Intermediate</option><option value="expert">Expert</option><option value="legend">Legend</option></select></div></div></div>'
    $('.appendSkill').append(html);
    event.preventDefault()
  }

  function cancel() {
    $('.skillChooserContainerPick').last().remove();
    event.preventDefault()
  }

</script>
{% endblock %}
