{% block content %}

<style>
.expert {
  border: 2px solid #106AA8;
  padding: 0.4rem;
  margin: 0.2 rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: gray;
}

#legend{
  color: red;
}
#expert{
  color: orange;
}
#advanced{
  color: yellow;
}
#intermediate{
  color:green;
}
#beginner{
  color: magenta;
}

</style>

<center class="profile" style="font-size:18px">
  <p><b>Name: </b>{{ user.name }}</p>
  <p><b>NPM: </b>{{ user.npm }}</p>
  <p><b>Expertise: </b>
    {% if expertise %}
      {% for ii in expertise %}
        <span class="expert" style="font-size:14px">
          <strong id="{{ ii.level }}"> {{ ii.expertise }} </strong>
        </span>
        &nbsp;
      {% endfor %}
    {% else %}
      None
    {% endif %}
  </p>
  <p><b>Email: </b>{{ user.email }}</p>
  <p><b>LinkedIn Profile: </b>{{ user.url_linkedin}}</p>
</center>

{% endblock %}
