{% extends "pretty_auth/layout/base.html" %}
{% block content %}
<style>
.circle-image {
  border: 2px solid #ccc;
  border-radius:  50%;
  height:200px;
  width:200px;
}

.zero {
  display: flex;
}

.one {
  flex: 50%;
}

.two {
  flex: 50%;
}
}

</style>

<h1> Welcome, {{userName}}! </h1>
<br>
<div class="zero">
  <br>
  <div class="one">
    {% if user.photo %}
      <img src="{{ user.photo }}" class="circle-image"/>
    {% else %}
      <img src="../static/images/giphy.gif" class="circle-image" />
    {% endif %}
    <a href="{% url 'pretty-profile:edit-profile' %}" style="color:blue" class="btn btn-info"> <strong style="font-size:18px"> Edit Profile </strong> </a>
  </div>
  <br>
  <br>

  <div class="two">
    <br>
    <b style="font-size:20px; font-style:italic"> Status Count </b>
    <p> {{status_count}} </p>
    <b style="font-size:20px; font-style:italic"> Latest Status </b>
    {% if status_count > 0 %}
    <p> {{latest_status.message|linebreaks}} </p>
    <p> {{latest_status.created_date}} </p>
    {% else %}
    <p> {{latest_status}} </p>
    {% endif %}
    <br>
  </div>
</div>

<div style="float:left">
  <br>
  <br>
  <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active">
          <a href="#profile" aria-controls="home" role="tab" data-toggle="tab"> <strong style="color:black"> Profile </strong> </a>
      </li>
      <li role="presentation">
          <a href="#history" aria-controls="settings" role="tab" data-toggle="tab"> <strong style="color:black"> History </strong> </a>
      </li>
      <li role="presentation">
          <a href="#status" aria-controls="settings" role="tab" data-toggle="tab"> <strong style="color:black"> Status </strong> </a>
      </li>
      <li role="presentation">
          <a href="#friend" aria-controls="settings" role="tab" data-toggle="tab"> <strong style="color:black"> Friend </strong> </a>
      </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="background-color:#87C8F5; border:white" id="boxed">
      <br>
      <div role="tabpanel" class="tab-pane fade in active" id="profile">
            {% include 'pretty_profile/profile.html' %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="history">
          <!-- TODO -->
          {% include 'pretty_history/history.html' %}
        </div>
      <div role="tabpanel" class="tab-pane fade" id="status">
          <!-- TODO -->
		        {% include 'pretty_update_status.html' %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="friend">
          <!-- TODO -->
            {% include 'pretty_search/search.html' %}
      </div>
      <br>
  </div>
</div>

{% endblock %}
