<table class="table">
	<thead>
		<th><center> No </center></th>
		<th><center> Subject Name </center></th>
		<th><center> Score </center></th>
	</thead>
	<tbody>
	{% for rw in riwayats %}
		<tr>
			<td> {{ forloop.counter }}</td>
			<td> {{ rw.kelas.nm_mk_cl.nm_mk }}</td>
			{% if not user.show_score %}
				<td> Secret </td>
			{% else %}
				<td> {{ rw.nilai }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
